/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/

:root {
    --starwars: #ffe031;
    --blanc: white;
    --footer: #0d0e20;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/autres/espace.svg");
}

footer {
    background-color: var(--footer);
    padding: 20px 0;
    text-align: center;
    color: var(--blanc);
}

.title {
    text-align: center;
    margin-top: 0;
    padding-top: 20%;
    font-size: 4vw;
    font-family: cursive;
    color: var(--blanc);
}

.description {
    color: var(--blanc);
    font-size: 11px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-family: cursive;
}

.scroll {
    width: 100%;
    position: absolute;
    text-align: center;
    right: 40px;
    bottom: 5vh;
}


/*---------------------------------------------------------- 
# Début animation scroll
----------------------------------------------------------*/

.scroll {
    position: absolute;
    background-image: url("img/autres/scroll2.png");
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    z-index: 2;
    transform: scale(0.6);
    /* animation: updown 1s ease-in-out infinite alternate; */
    /* Commented out */
}


/* FIN DU SPRITESHEET DE SCROLL*/

.souris {
    position: absolute;
}

.roue {
    position: relative;
    top: 20px;
    left: 41px;
}


/*---------------------------------------------------------- 
# Prologue
----------------------------------------------------------*/

#prologue {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/elements_chap1/espace.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}

.chp0 {
    position: absolute;
    bottom: 20vh;
    width: 100%;
    text-align: center;
    transform-origin: 50% 100%;
    font-size: 3rem;
    color: var(--starwars);
    white-space: pre-wrap;
}


/*---------------------------------------------------------- 
# Chapitre 1
----------------------------------------------------------*/

#chapitre-1 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/elements_chap1/espace.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}

#chapitre-1 .image-container img {
    position: absolute;
    max-width: 100%;
    height: auto;
}

#chapitre-1 .meteorite {
    position: absolute;
    top: 10vh;
    left: 1vw;
    transition: transform 0.3s ease-in-out;
}

#chapitre-1 .terre {
    position: absolute;
    width: 37.65vw;
    height: 66.75vw;
    bottom: 10vh;
    right: 20vw;
    transition: transform 0.3s ease-in-out;
}

#chapitre-1 .lune {
    width: 13.75vw;
    height: 24.44vh;
    top: 50vh;
    right: 1vw;
    position: absolute;
    transform: translate(-50%, -50%);
}


/*---------------------------------------------------------- 
# Chapitre 2
----------------------------------------------------------*/

#chapitre-2 .image-container {
    position: relative;
    width: 100%;
    height: auto;
}

#chapitre-2 .image-container img {
    position: absolute;
    max-width: 100%;
    height: auto;
}

#chapitre-2 .kevin {
    width: 11.40vw;
    height: 43.51vh;
    top: 20vh;
    right: 45vw;
}

.chp2 {
    font-size: 40px;
    top: 20vh;
    text-align: center;
    color: var(--blanc);
    z-index: 2;
}
.chp3 {
    font-size: 40px;
    top: 20vh;
    text-align: center;
    color: var(--blanc);
    z-index: 2;
}

#chapitre-2 .sofa {
    width: 29.32vw;
    height: 40.64vh;
    top: 52vh;
    right: 35vw;
}
.chp4 {
    font-size: 40px;
    top: 20vh;
    text-align: center;
    color: var(--blanc);
    z-index: 2;
}
.chp5 {
    font-size: 40px;
    top: 20vh;
    text-align: center;
    color: var(--blanc);
    z-index: 2;
}
.chp6 {
    font-size: 40px;
    top: 20vh;
    text-align: center;
    color: var(--blanc);
    z-index: 2;
}
.chp7 {
    font-size: 40px;
    top: 20vh;
    text-align: center;
    color: var(--blanc);
    z-index: 2;
}

#chapitre-2 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/elements_chap2/fond.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}


/*---------------------------------------------------------- 
# Chapitre 3
----------------------------------------------------------*/

#chapitre-3.image-container {
    position: relative;
    width: 100%;
    height: auto;
}

#chapitre-3.image-container img {
    position: absolute;
    max-width: 100%;
    height: auto;
}

.fond-avant {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#chapitre-3 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/elements_chap3/fond_arriere.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}

#chapitre-3 .kevin {
    position: absolute;
    width: 9.53vw;
    height: 39.53vh;
    top: 50vh;
    left: 40vw;
}

#chapitre-3 .pince {
    position: absolute;
    width: 12.44vw;
    height: 41vh;
    top: 20vh;
    left: 44vw;
    transform: translate(-50%, -50%);
}

#chapitre-3 .casque {
    position: absolute;
    width: 8.75vw;
    height: 13.98vh;
    top: 35vh;
    left: 44.2vw;
    transform: translate(-50%, -50%);
}


/*---------------------------------------------------------- 
# Chapitre 4
----------------------------------------------------------*/

#chapitre-4.image-container {
    position: relative;
    width: 100%;
    height: auto;
}

#chapitre-4 img {
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

#chapitre-4.image-container img {
    position: absolute;
    max-width: 100%;
    height: auto;
}

#chapitre-4 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/elements_chap4/fond.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}

#chapitre-4 .kevin {
    position: absolute;
    top: 70vh;
    left: 40vw;
    ;
}

#chapitre-4 .feu {
    position: absolute;
    background-image: url("../img/spritesheet/spritesheet-feu.png");
    width: 9.5vw;
    height: 16.6vh;
    background-size: 100% 2000%;
    right: 36vw;
    bottom: 1vh;
}

#chapitre-4 .fusee {
    position: absolute;
    object-fit: contain;
    width: 20.36vw;
    height: 77vh;
    left: 59.5vw;
    bottom: 4vh;
}

.nuage1 {
    position: absolute;
    object-fit: contain;
    width: 65.2vw;
    height: 30.92vh;
    top: 6vh;
    left: 15vw;
}

.nuage2 {
    position: absolute;
    object-fit: contain;
    width: 28.49vw;
    height: 17.2vh;
    top: 6vh;
    right: 8.5vw;
}


/*---------------------------------------------------------- 
# Chapitre 5
----------------------------------------------------------*/

#chapitre-5 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/elements_chap5/fond.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}

#chapitre-5 .kevin {
    position: absolute;
    width: 30vw;
    height: 75vh;
    bottom: -10vh;
    left: 33vw;
    z-index: 2;
}

#chapitre-5 .volant {
    position: absolute;
    background-image: url('../img/spritesheet/spritesheet-volant.png');
    background-size: 100% 2500%;
    width: 37vw;
    height: 33vh;
    top: 35vh;
    left: 30vw;
    z-index: 1;
    animation-play-state: paused;
    animation: volant 1s steps(25) infinite;
}


/* #chapitre-5 .volant {
    position: absolute;
    top: 40vh;
    left: 37vw;
    z-index: 1;
} */

#chapitre-5 .bombe {
    position: absolute;
    width: 27.29vw;
    height: 38.14vh;
    bottom: 0vh;
    right: 20vh;
}


/*---------------------------------------------------------- 
# Chapitre 6
----------------------------------------------------------*/

#chapitre-6 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/elements_chap6/background.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}

#chapitre-6 .fusee {
    position: absolute;
    object-fit: contain;
    width: 15.93vw;
    height: 60.83vh;
    left: 10vw;
    bottom: 4vh;
}

#chapitre-6 .kevin {
    position: absolute;
    width: 5.10vw;
    height: 21.66vh;
    top: 70vh;
    left: 30vw;
}

#chapitre-6 .bombe {
    position: absolute;
   top:-50vh;
    left: 50vw;
}

.explosion {
    position: absolute;
    object-fit: contain;
    top: 15vh;
    right: 13vw;
    display: none;
}

#chapitre-6 .feu {
    position: absolute;
    background-image: url("../img/spritesheet/spritesheet-feu.png");
    width: 8.010vw;
    height: 11.07vh;
    animation-name: feu;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    background-size: 100% 2000%;
    animation-timing-function: steps(20);
    left: 13.5vw;
    bottom: 3vh;
}


/*---------------------------------------------------------- 
# Chapitre 7
----------------------------------------------------------*/

#chapitre-7 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/elements_chap7/espace.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}

.meteorite1 {
    width: 21.45vw;
    height: 36.01vh;
    position: absolute;
    object-fit: contain;
    left: 32vw;
    top: 25vh;
}

.meteorite2 {
    width: 18.38vw;
    height: 42.5vh;
    position: absolute;
    object-fit: contain;
    left: 47.1vw;
    top: 28.9vh;
}

.meteorite3 {
    width: 22.34vw;
    height: 31.48vh;
    position: absolute;
    object-fit: contain;
    left: 35.6vw;
    top: 51vh;
}

ul.technique-gsap {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 10px;
    font-family: monospace;
    font-weight: 400;
    width: auto;
    display: inline-block;
    padding: 10px 20px 12px 20px;
    margin: 0;
    max-width: 300px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

ul.technique-gsap li {
    margin: 5px 0;
}
/*---------------------------------------------------------- 
# DRAW SVG
----------------------------------------------------------*/







/* testing des animations spritesheet(2.2a)*/


/* DÉBUT SPRITESHEET VOLANT START */

.volant {
    position: absolute;
    background-image: url('../img/spritesheet/spritesheet-volant.png');
    background-size: 100% 2500%;
    width: 37vw;
    height: 33vh;
    top: 35vh;
    left: 30vw;
    z-index: 1;
    animation-play-state: paused;
    animation: volant 1s steps(25) infinite;
}

/*@keyframes volant {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -2500%;
    }
}


/*  FIN DU SPRITESHEET VOLANT */


/* DÉBUT SPRITESHEET FEU START */

.feu {
    position: absolute;
    background-image: url("../img/spritesheet/spritesheet-feu.png");
    width: 9.5vw;
    height: 16.6vh;
    animation-name: feu;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(20);
    /* animation-play-state: paused; */
    background-size: 100% 2000%;
    right: 36vw;
    bottom: 16vh;
}

/*@keyframes feu {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -2000%;
    }
}


/* FIN DU SPRITESHEET DE FEU*/