body {
    overflow-x: hidden;
    margin: 0;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/autres/espace.svg");
}

.title {
    text-align: center;
    margin-top: 0;
    padding-top: 20%;
    font-size: 4vw;
    font-family: cursive;
    color: white;
}

.description {
    color: white;
    font-size: 11px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-family: cursive;
}

.scroll {
    width: 100%;
    position: absolute;
    text-align: center;
    right: 40px;
    bottom: 50%;
}


/*---------------------------------------------------------- 
# Début animation scroll
----------------------------------------------------------*/

.scroll {
    position: absolute;
    background-image: url("img/autres/scroll2.png");
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    z-index: 2;
    transform: scale(0.6);
    animation: updown 1s ease-in-out infinite alternate;
}

@keyframes updown {
    0% {
        top: 20%;
    }
    100% {
        top: 30%;
    }
}


/* FIN DU SPRITESHEET DE SCROLL*/

.souris {
    position: absolute;
}

.roue {
    position: relative;
    top: 20px;
    left: 41px;
}


/*---------------------------------------------------------- 
# Chapitre 1
----------------------------------------------------------*/

#chapitre-1 {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap1/espace.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}

#chapitre-1 .image-container img {
    position: absolute;
    max-width: 100%;
    height: auto;
}

#chapitre-1 .meteorite {
    top: 10vh;
    left: 1vw;
}

#chapitre-1 .terre {
    bottom: 10vh;
    right: 20vw;
}

#chapitre-1 .lune {
    top: 50vh;
    right: 1vw;
    transform: translate(-50%, -50%);
}


/*---------------------------------------------------------- 
# Chapitre 2
----------------------------------------------------------*/

#chapitre-2 .image-container {
    position: relative;
    width: 100%;
    height: auto;
}

#chapitre-2 .image-container img {
    position: absolute;
    max-width: 100%;
    height: auto;
}

#chapitre-2 .kevin {
    top: 30vh;
    right: 45vw;
}

#chapitre-2 .sofa {
    top: 50vh;
    right: 35vw;
}

#chapitre-2 {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap2/fond.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}


/*---------------------------------------------------------- 
# Chapitre 3
----------------------------------------------------------*/

#chapitre-3.image-container {
    position: relative;
    width: 100%;
    height: auto;
}

#chapitre-3.image-container img {
    position: absolute;
    max-width: 100%;
    height: auto;
}

.fond-avant {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#chapitre-3 {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap3/fond_arriere.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}

#chapitre-3 .kevin {
    position: absolute;
    top: 50vh;
    left: 40vw;
}

#chapitre-3 .pince {
    position: absolute;
    top: 0vh;
    left: 39vw;
}

#chapitre-3 .casque {
    position: absolute;
    top: 36vh;
    left: 40vw;
}


/*---------------------------------------------------------- 
# Chapitre 4
----------------------------------------------------------*/

#chapitre-4.image-container {
    position: relative;
    width: 100%;
    height: auto;
}

#chapitre-4.image-container img {
    position: absolute;
    max-width: 100%;
    height: auto;
}

#chapitre-4 {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap4/fond.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}

#chapitre-4 .kevin {
    position: absolute;
    top: 70vh;
    left: 40vw;
    ;
}

#chapitre-4 .fusee {
    position: absolute;
    object-fit: contain;
    right: 13vw;
    bottom: 4vh;
}

#chapitre-4 .escalier {
    position: absolute;
    object-fit: contain;
    right: 26vw;
    bottom: 6vh;
}

#chapitre-4 .feu {
    position: absolute;
    background-image: url("../img/spritesheet/spritesheet-feu.png");
    width: 9.5vw;
    height: 16.6vh;
    right: 19vw;
    bottom: 1vh;
    animation-name: feu;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(20);
}


/*---------------------------------------------------------- 
# Chapitre 5
----------------------------------------------------------*/

#chapitre-5 {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap5/fond.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}

#chapitre-5 .kevin {
    position: absolute;
    top: 17vh;
    left: 33vw;
    z-index: 2;
}

#chapitre-5 .volant {
    position: absolute;
    top: 40vh;
    left: 37vw;
    z-index: 1;
}

#chapitre-5 .bombe {
    position: absolute;
    bottom: 0vh;
    right: 20vh;
}


/*---------------------------------------------------------- 
# Chapitre 6
----------------------------------------------------------*/

#chapitre-6 {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap6/background.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}

#chapitre-6 .fusee {
    position: absolute;
    object-fit: contain;
    width: 20vw;
    height: 77vh;
    left: 23vw;
    bottom: 4vh;
}

#chapitre-6 .kevin {
    position: absolute;
    top: 70vh;
    left: 40vw;
}

#chapitre-6 .bombe {
    position: absolute;
    top: 70vh;
    left: 40vw;
}

.explosion {
    position: absolute;
    object-fit: contain;
    top: 15vh;
    right: 13vw;
    display: none;
}

#chapitre-6 .feu {
    position: absolute;
    background-image: url("../img/spritesheet/spritesheet-feu.png");
    width: 9.5vw;
    height: 16.6vh;
    background-size: 100% 2000%;
    animation-name: feu;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(20);
    left: 28vw;
    bottom: 1vh;
}


/*---------------------------------------------------------- 
# Chapitre 7
----------------------------------------------------------*/

#chapitre-7 {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/elements_chap7/espace.svg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid red;
}

.meteorite1 {
    position: absolute;
    object-fit: contain;
    left: 32vw;
    top: 25vh;
}

.meteorite2 {
    position: absolute;
    object-fit: contain;
    left: 47.1vw;
    top: 28.9vh;
}

.meteorite3 {
    position: absolute;
    object-fit: contain;
    left: 35.6vw;
    top: 51vh;
}


/* testing des animations spritesheet(2.2a)*/


/* DÉBUT SPRITESHEET VOLANT START */


/*  .volant {
    position: absolute;
    background-image: url('../img/spritesheet/spritesheet-volant.png');
    background-size: 100% 2500%;
    width: 50vw;
    height: 50vh;
    animation-play-state: paused;
    animation: volant 1s steps(25) infinite;
}

@keyframes volant {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -2500%;
    }
}


/*  FIN DU SPRITESHEET VOLANT */


/* DÉBUT SPRITESHEET FEU START */

#chapitre-4 .feu {
    position: absolute;
    background-image: url("../img/spritesheet/spritesheet-feu.png");
    width: 9.5vw;
    height: 16.6vh;
    background-size: 100% 2000%;
    animation-name: feu;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(20);
    right: 19vw;
    bottom: -0.05vh;
}


/* @keyframes feu {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -2000%;
    }
}


/* FIN DU SPRITESHEET DE FEU*/